.top-nav{
    .container{        
        .row{
            .phone-num{
                @include paddingStyle(18px, 14px);
                @include displayGap(15px);
                width: 14%;
                padding-left: 0;
                box-sizing: border-box;
                border-right: 1px solid rgba(0,0,0,0.1);
            }
            
            .sns{
                width: 25%;
                box-sizing: border-box;
                border-right: 1px solid rgba(0,0,0,0.1);
                display: flex;
                
                &-list{
                    width: 230px;
                    margin: auto;
                    @include paddingStyle(18px, 14px);
                    @include displayGap();
                    justify-content: space-between;
                }
            }
        
            .menu{
                &-user{
                    display: none;
                }
                width: 61%;
                @include paddingStyle(15px, 15px);
                @include displayGap();
                justify-content: flex-end;
                &-list{
                    @include displayGap();
                    justify-content: space-evenly;
                    min-width: 80%;
                    padding-top: 5px;
                    padding-right: 2%;
                    &__item{
                        a{
                            @include displayGap();
                            position: relative;
                            i{
                                position: absolute;
                                top: 7px;
                                color: $text;
                                font-size: 10px;
                               }
                            p{
                                margin-left: 10px;
                            }
                        }
                    }
                }
                &-button{
                    @include btnSize(30px, 110px, 0, 0);
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }
    
            .user-icon{
                display: none;
            }
        }
    }
}